.menu-homepage {

  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);

  li {
    list-style-type: none;

    a {
      display: block;
      margin-left: -2px;
      height: 50px;
      width: 60px;
      border-radius: 0 25px 25px 0;
      border: 1px solid #000;
      background: #FFF;
      margin-bottom: 1em;
      transition: all .4s ease;
      color: #2980b9;
      text-decoration: none;
      line-height: 50px;
      position: relative;
      &:hover {
        cursor: pointer;
        width: 170px;
        color: #fff;
        span {
          left: 0;
        }
      }
      span {
        padding: 0 20px 0 15px;
        position: absolute;
        left: -120px;
        transition: left .4s ease;
      }
      i {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 1.5em;
        width: 30px;
        display: inline-block;
        text-align: center;
      }
    }
    .menu-intro {
      background: rgba(#27ae60, .1);
      border-color: #27ae60;
      color: #27ae60;
      &:hover {
        background: rgba(#27ae60, 1);
      }
    }
    .menu-about {
      background: rgba(#e67e22, .1);
      border-color: #e67e22;
      color: #e67e22;
      &:hover {
        background: rgba(#e67e22, 1);
      }
    }
    .menu-tech {
      background: rgba(#22A7F0, .1);
      border-color: #22A7F0;
      color: #22A7F0;
      &:hover {
        background: rgba(#22A7F0, 1);
      }
    }

    .menu-project {
      background: rgba(#D2527F, .1);
      border-color: #D2527F;
      color: #D2527F;
      &:hover {
        background: rgba(#D2527F, 1);
      }
    }

    .menu-team {
      background: rgba(#22A7F0, .1);
      border-color: #0df0ed;
      color: #0df0ed;
      &:hover {
        background: rgba(#22A7F0, 1);
      }
    }
  }

}