/* ---- reset ---- */
body {
    margin: 0;
    font: normal 14px Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */

#particleJs {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2E3F59;
}