<section class="fullpage-section sec-first" style="background-color: #222a30" [style.height]="innerHeight">
    <h1>Front End Developer</h1>

    <div class="name-author engraved">
        Hoang Huong
    </div>

    <div class="block-mouse-scroll">
        <div class="mouse"></div>
        <p>Scroll</p>
    </div>

</section>

<section class="fullpage-section sec-about clearfix" style="background-color: #f2f2f2">

    <div class="sec-title">
        <h1>About</h1>
    </div>

    <div class="sec-content">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
            tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
            semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque vero, maxime nulla dolore iure voluptatem
            itaque. Nisi commodi ut consectetur beatae mollitia. Ab, maxime quisquam ipsa, quibusdam itaque et eius.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus suscipit blanditiis delectus quos, soluta
            fuga voluptatem, facere inventore neque voluptate quaerat unde laboriosam molestiae repellat, sapiente
            accusamus cumque! Ipsam, illo!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus suscipit blanditiis delectus quos, soluta
            fuga voluptatem, facere inventore neque voluptate quaerat unde laboriosam molestiae repellat, sapiente
            accusamus cumque! Ipsam, illo!</p>

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
            tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
            semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque vero, maxime nulla dolore iure voluptatem
            itaque. Nisi commodi ut consectetur beatae mollitia. Ab, maxime quisquam ipsa, quibusdam itaque et eius.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus suscipit blanditiis delectus quos, soluta
            fuga voluptatem, facere inventore neque voluptate quaerat unde laboriosam molestiae repellat, sapiente
            accusamus cumque! Ipsam, illo!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus suscipit blanditiis delectus quos, soluta
            fuga voluptatem, facere inventore neque voluptate quaerat unde laboriosam molestiae repellat, sapiente
            accusamus cumque! Ipsam, illo!</p>

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
            tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
            semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque vero, maxime nulla dolore iure voluptatem
            itaque. Nisi commodi ut consectetur beatae mollitia. Ab, maxime quisquam ipsa, quibusdam itaque et eius.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus suscipit blanditiis delectus quos, soluta
            fuga voluptatem, facere inventore neque voluptate quaerat unde laboriosam molestiae repellat, sapiente
            accusamus cumque! Ipsam, illo!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus suscipit blanditiis delectus quos, soluta
            fuga voluptatem, facere inventore neque voluptate quaerat unde laboriosam molestiae repellat, sapiente
            accusamus cumque! Ipsam, illo!</p>


        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
            tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
            semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque vero, maxime nulla dolore iure voluptatem
            itaque. Nisi commodi ut consectetur beatae mollitia. Ab, maxime quisquam ipsa, quibusdam itaque et eius.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus suscipit blanditiis delectus quos, soluta
            fuga voluptatem, facere inventore neque voluptate quaerat unde laboriosam molestiae repellat, sapiente
            accusamus cumque! Ipsam, illo!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus suscipit blanditiis delectus quos, soluta
            fuga voluptatem, facere inventore neque voluptate quaerat unde laboriosam molestiae repellat, sapiente
            accusamus cumque! Ipsam, illo!</p>

    </div>

</section>

<section class="fullpage-section" style="background-color: #00ff54">

</section>

<section class="fullpage-section" style="background-color: #bd0eff">

</section>

<ul class="menu-homepage">
    <li><a href="" class="menu-intro"><span>Introduction</span><i class="fa fa-diamond" aria-hidden="true"></i></a></li>
    <li><a href="" class="menu-about"><span>About</span><i class="fa fa-book" aria-hidden="true"></i></a></li>
    <li><a href="" class="menu-tech"><span>Technology</span><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
    </li>
    <li><a href="" class="menu-project"><span>Project</span><i class="fa fa-database" aria-hidden="true"></i></a></li>
    <li><a href="" class="menu-team"><span>My team</span><i class="fa fa-cubes" aria-hidden="true"></i></a></li>
</ul>