<section class="fullpage-section sec-first" style="background-color: #222a30">
    <h1>Front End Developer</h1>

    <div class="name-author engraved">
        Hoang Huong
    </div>

    <div class="block-mouse-scroll">
        <div class="mouse"></div>
        <p>Scroll</p>
    </div>

</section>

<section class="fullpage-section" style="background-color: #ffcd1e">

</section>

<section class="fullpage-section" style="background-color: #00ff54">

</section>

<section class="fullpage-section" style="background-color: #bd0eff">

</section>

<ul class="menu-homepage">
    <li><a href="" class="menu-intro"><span>Introduction</span><i class="fa fa-diamond" aria-hidden="true"></i></a></li>
    <li><a href="" class="menu-about"><span>About</span><i class="fa fa-book" aria-hidden="true"></i></a></li>
    <li><a href="" class="menu-tech"><span>Technology</span><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
    </li>
    <li><a href="" class="menu-project"><span>Project</span><i class="fa fa-database" aria-hidden="true"></i></a></li>
    <li><a href="" class="menu-team"><span>My team</span><i class="fa fa-cubes" aria-hidden="true"></i></a></li>
</ul>