<section class="fullpage-section" style="background-color: #000000"></section>
<section class="fullpage-section" style="background-color: #ffcd1e"></section>
<section class="fullpage-section" style="background-color: #00ff54"></section>
<section class="fullpage-section" style="background-color: #bd0eff"></section>

<div class="split-slideshow">
    <div class="slideshow">
        <div class="slider">
            <div class="item" style="background-color: #000000">
                <!--<img src="https://raw.githubusercontent.com/supahfunk/supah-codepen/master/canyon-2.jpg"/>-->
            </div>
            <div class="item" style="background-color: #ffcd1e">
                <!--<img src="https://raw.githubusercontent.com/supahfunk/supah-codepen/master/canyon-3.jpg"/>-->
            </div>
            <div class="item" style="background-color: #00ff54">
                <!--<img src="https://raw.githubusercontent.com/supahfunk/supah-codepen/master/canyon-4.jpg"/>-->
            </div>
            <div class="item" style="background-color: #bd0eff">
                <!--<img src="https://raw.githubusercontent.com/supahfunk/supah-codepen/master/canyon-1.jpg"/>-->
            </div>
        </div>
    </div>
    <div class="slideshow-text">
        <div class="item">Canon</div>
        <div class="item">Desert</div>
        <div class="item">Erosion</div>
        <div class="item">Shape</div>
    </div>
</div>
